src/main/mule/agencies-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="agencies-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="agencies-api-config"/>
		<error-handler ref="api-main-error-handler" />
    </flow>
    <flow name="agencies-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="agencies-api-config"/>
		<error-handler ref="api-console-error-handler" />
    </flow>
    <flow name="get:\agencies:agencies-api-config">
		<flow-ref doc:name="agencyWithStationAndLaunches" doc:id="3fd38778-9fac-4e29-b050-67ca40cb4f5e" name="agencyWithStationAndLaunches"/>
    </flow>
    <flow name="get:\database:agencies-api-config">
		<flow-ref doc:name="databaseFilling" doc:id="76eaa2ff-8e88-4905-8161-9f35b2fac38b" name="databaseFilling"/>
    </flow>
    <flow name="get:\help:agencies-api-config">
		<flow-ref doc:name="helpFlow" doc:id="8e626e7e-eb18-4705-8198-368e7cfc2810" name="helpFlow"/>
    </flow>
    <flow name="get:\infoByAgencyAndYear:agencies-api-config">
		<flow-ref doc:name="launchesAndStationsByAgencyAndYear" doc:id="5048f361-01a9-41f2-9078-8524378a3efc" name="launchesAndStationsByAgencyAndYear"/>
    </flow>
</mule>
