src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	<sub-flow name="start_log_and_variables"
		doc:id="944c896e-dce1-42a4-b2fe-ec1b7fc21cca">
		<logger level="INFO" doc:name="Start log"
			doc:id="391c182f-a167-4b7a-bebb-9128acbca7bd"
			message='#["The application has been launched"]' />
		<set-variable
			value="#[message.attributes.queryParams.limit default 100]"
			doc:name="Set limit" doc:id="51e13b5a-cae2-4a85-aafc-8d5c5768a1ee"
			variableName="limit" />
		<set-variable
			value="#[message.attributes.queryParams.offset default -1]"
			doc:name="Set offset" doc:id="4f327e66-08db-4fd9-9176-f09cb7319d77"
			variableName="offset" />
		<set-variable
			value='#[message.attributes.queryParams.name default ""]'
			doc:name="Set name"
			doc:id="00fe79b6-a3c0-4751-a811-d4978a3cee41" variableName="name" />
		<choice doc:name="Choice"
			doc:id="f1553f30-ff0f-47af-b442-47b4d1f658cb">
			<when
				expression="#[vars.offset == Mule::p('offset_limitations.default')]">
				<raise-error doc:name="WRONG_OFFSET error"
					doc:id="583c964a-dd11-49bf-a42c-b9cbc3ab3c98"
					type="APP:MISS_OFFSET"
					description="You forgot to specify the 'offset' parameter" />
			</when>
			<when expression='#[vars.name == ""]'>
				<raise-error doc:name="MISS_NAME error"
					doc:id="1ccdaaed-7344-48a5-9b94-9e02c5b8f10a" type="APP:MISS_NAME"
					description="You forgot to specify the 'name' parameter" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Default block logger"
					doc:id="cc059b05-36d1-479b-96d0-d17d03080deb"
					message='#["Default block execution"]' />
			</otherwise>
		</choice>
		<set-variable
			value='#[message.attributes.queryParams.mode default "list"]'
			doc:name="Set mode" doc:id="9007427b-1199-4d46-9bfd-0776a864feda"
			variableName="mode" />
		<validation:matches-regex
			doc:name="Check for mode validity"
			doc:id="b5831dff-3919-4259-80bc-62121c0af587"
			config-ref="Validation_Config" value="#[vars.mode]"
			regex="${validation.mode.regex}" message="${validation.mode.message}">
			<error-mapping sourceType="VALIDATION:MISMATCH"
				targetType="APP:INVALID_MODE" />
		</validation:matches-regex>
	</sub-flow>
	<sub-flow name="getLaunchesAndPlanets"
		doc:id="2eafa69c-7893-4f17-af7e-e2614ae1264d">
		<http:request method="GET" doc:name="getLaunches"
			doc:id="33edb96d-bfdb-4eab-9f50-609278864808"
			config-ref="HTTP_Request_configuration_Launches"
			path='#["launchesByStatusAndYear?limit=" ++ vars.limit ++ "&amp;offset=" ++ vars.offset]'
			responseTimeout="60000" />
		<ee:transform doc:name="Basic data filtering"
			doc:id="e98ff262-b8ce-4f83-8723-3ac6e1e40b50">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="launchInfo"><![CDATA[%dw 2.0
output application/json
---
payload.launches filter ((item, index) -> item.launch_service_provider == vars.name) map ( launch , indexOfLaunch ) -> {
	name: launch.name default "",
	status: launch.status default "",
	launch_year: launch.launch_year default "",
	failreason: launch.failreason default "",
	rocket: {
		name: launch.rocket.name default "",
		family: launch.rocket.family default "",
		full_name: launch.rocket.full_name default "",
		variant: launch.rocket.variant default ""
	},
	mission: {
		name: launch.mission.name default "",
		description: launch.mission.description default "",
		"type": launch.mission."type" default "",
		orbit: launch.mission.orbit default "",
		planet_of_interest: ""
	},
	pad: {
		name: launch.pad.name default "",
		location: {
			name: launch.pad.location.name default "",
			country_code: launch.pad.location.country_code default "",
			total_launch_count: launch.pad.location.total_launch_count default "",
			total_landing_count: launch.pad.location.total_landing_count default ""
		}
	}
}]]></ee:set-variable>
				<ee:set-variable variableName="launch_planet_arr"><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each"
			doc:id="a2eb3e74-bea9-4626-9152-6842a4b0f1b8"
			collection="#[vars.launchInfo]">
			<set-variable value="#[payload]"
				doc:name="Set oneLaunch"
				doc:id="96d1c54e-3caa-43b8-9b9c-95bc81175bf7"
				variableName="oneLaunch" />
			<set-variable doc:name="Set planetName"
				doc:id="5242e890-7c2e-4794-aca0-f76641b808ea"
				variableName="planetName"
				value="#[java!org::spaceagencies::utils::MyUtils::getPlanetName(vars.oneLaunch.mission.description)]" />
			<choice doc:name="Choice"
				doc:id="145eec21-9d4e-4da9-b741-61f43d5949be">
				<when expression='#[vars.planetName != ""]'>
					<http:request method="GET" doc:name="getPlanet"
						doc:id="f90465f9-31db-49bb-99c7-17a429dc13c9"
						config-ref="HTTP_Request_configuration_Planets"
						path='#["planets?name=" ++ vars.planetName]'
						responseTimeout="60000" />
					<ee:transform doc:name="Planet info"
						doc:id="c20c49c7-d509-490e-a55e-5eb891dcf463">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	name: payload[0].name,
	moons: payload[0].moons.moon default [],
	semimajorAxis: payload[0].semimajorAxis,
	perihelion: payload[0].perihelion,
	aphelion: payload[0].aphelion,
	eccentricity: payload[0].eccentricity,
	inclination: payload[0].inclination,
	mass: payload[0].mass.massValue,
	density: payload[0].density,
	gravity: payload[0].gravity,
	meanRadius: payload[0].meanRadius,
	polarRadius: payload[0].polarRadius,
	discoveredBy: payload[0].discoveredBy,
	discoveryDate: payload[0].discoveryDate,
	alternativeName: payload[0].alternativeName,
	axialTilt: payload[0].axialTilt,
	avgTemp: payload[0].avgTemp
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<ee:transform doc:name="One launch with planet info"
						doc:id="9319699e-3513-441a-8a75-5730d898e78a">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	name: vars.oneLaunch.name default "",
	status: vars.oneLaunch.status default "",
	launch_year: vars.oneLaunch.launch_date default "",
	failreason: vars.oneLaunch.failreason default "",
	rocket: {
		name: vars.oneLaunch.rocket.name default "",
		family: vars.oneLaunch.rocket.family default "",
		full_name: vars.oneLaunch.rocket.full_name default "",
		variant: vars.oneLaunch.rocket.variant default ""
	},
	mission: {
		name: vars.oneLaunch.mission.name default "",
		description: vars.oneLaunch.mission.description default "",
		"type": vars.oneLaunch.mission."type" default "",
		orbit: vars.oneLaunch.mission.orbit default "",
		planet_of_interest: payload
	},
	pad: {
		name: vars.oneLaunch.pad.name default "",
		location: {
			name: vars.oneLaunch.pad.location.name default "",
			country_code: vars.oneLaunch.pad.location.country_code default "",
			total_launch_count: vars.oneLaunch.pad.location.total_launch_count default "",
			total_landing_count: vars.oneLaunch.pad.location.total_landing_count default ""
		}
	}
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<ee:transform
						doc:name="Adding payload to launch_planet_arr"
						doc:id="d4fc3172-6da2-491d-af73-016e4dcfb9ed">
						<ee:message />
						<ee:variables>
							<ee:set-variable variableName="launch_planet_arr"><![CDATA[%dw 2.0
output application/json
---
vars.launch_planet_arr + payload]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</when>
				<otherwise>
					<ee:transform
						doc:name="Adding oneLaunch to launch_planet_arr"
						doc:id="e19dcb1b-ab8a-47d3-b30c-7e017d5b22c6">
						<ee:message />
						<ee:variables>
							<ee:set-variable variableName="launch_planet_arr"><![CDATA[%dw 2.0
output application/json
---
vars.launch_planet_arr + vars.oneLaunch]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</otherwise>
			</choice>
		</foreach>
		<ee:transform doc:name="Final launch_planet_arr"
			doc:id="61dc42ea-6c72-4170-a105-e56c6b71f7ca">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.launch_planet_arr]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="getStations"
		doc:id="b42af5cc-cf60-4c11-a8d8-747d58ba7b54">
		<http:request method="GET" doc:name="getStations"
			doc:id="c66dd9e8-1c9f-45c9-a86e-500b387bea61"
			config-ref="HTTP_Request_configuration_Stations" path="station"
			responseTimeout="60000" />
		<ee:transform doc:name="Basic data filtering"
			doc:id="0744ac6c-cc23-4479-88b0-247806b1ff68">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter ((item, index) -> item.owners contains(vars.name))]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="getRockets"
		doc:id="914ffeb8-e7b5-4944-8f20-c86bfabd505b">
		<http:request method="GET" doc:name="getRockets"
			doc:id="9d5934e9-c4b8-4d25-9588-2e12dd167033"
			config-ref="HTTP_Request_configuration_Rockets" path="launcher">
			<http:query-params><![CDATA[#[output application/java
---
{
	"offset" : vars.offset,
	"limit" : vars.limit
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Basic data filtering"
			doc:id="b622ad06-bf02-43f4-aead-b5189ed3e81c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.results filter ((item, index) -> item.manufacturer.name == vars.name) map ( result , indexOfResult ) -> {
	name: result.name,
	manufacturer: {
		name: result.manufacturer.name default "",
		"type": result.manufacturer."type" default "",
		country_code: result.manufacturer.country_code default "",
		description: result.manufacturer.description default "",
		founding_year: result.manufacturer.founding_year default "",
		image_url: result.manufacturer.image_url default ""
	},
	program: result.program map ( program , indexOfProgram ) -> {
		name: program.name,
		description: program.description default "",
		agencies: program.agencies.name default "",
		image_url: program.image_url default "",
		start_date: program.start_date default "",
		end_date: program.end_date default "",
		wiki_url: program.wiki_url default ""
	},
	family: result.family default "",
	full_name: result.full_name default "",
	variant: result.variant default "",
	reusable: result.reusable,
	image_url: result.image_url default "",
	wiki_url: result.wiki_url default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="primaryDataRetrieving"
		doc:id="7bee803a-da23-4a94-94c4-e1c088ddd942">
		<flow-ref doc:name="start_log and variables"
			doc:id="fc442cc5-ffb5-4607-8f6a-e0de95c4da68"
			name="start_log_and_variables" />
		<scatter-gather doc:name="Scatter-Gather"
			doc:id="5f3c3e3b-3331-4e2b-8c6c-856a7cb06ee4">
			<route>
				<flow-ref doc:name="getLaunchesAndPlanets"
					doc:id="42242f03-0978-422b-b0d7-7764fe58ea1f"
					name="getLaunchesAndPlanets" />
			</route>
			<route>
				<flow-ref doc:name="getStations"
					doc:id="6f9bf2c0-80bf-409f-b1b3-621f430cefb4" name="getStations" />
			</route>
			<route>
				<flow-ref doc:name="getRockets"
					doc:id="72529153-02b0-4344-bcaa-bc530594f8eb" name="getRockets" />
			</route>
		</scatter-gather>
		<choice doc:name="Choice"
			doc:id="fabded54-6746-4f5a-8e5b-510b45b089a3">
			<when
				expression='#[payload."1".payload == [] and payload."0".payload == [] and payload."2".payload == []]'>
				<raise-error doc:name="ALL_EMPTY error"
					doc:id="932ec67f-8a65-4aa8-94e0-e1533055c6f4" type="APP:ALL_EMPTY"
					description="${error_messaging.all_empty_agencies}" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Default block logger"
					doc:id="69d89a3a-3ccb-488a-8d70-7d9a5d4a5ceb"
					message='#["Default block execution. Payload is not empty."]' />
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="agencyWithStationAndLaunches"
		doc:id="6c9f186d-7f41-4d50-bc6c-38d4417189c0">
		<flow-ref doc:name="primaryDataRetrieving"
			doc:id="75d4a96f-af07-4e31-85e3-b74d417eeaf4"
			name="primaryDataRetrieving" />
		<ee:transform doc:name="Final detailed representation"
			doc:id="1f947523-f746-44c6-afb8-96e137eeb4f2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
  agency: vars.name,
  stations: if (sizeOf(payload."1".payload) == 0) 
	"There are no records on this page about space stations owned by the " ++ vars.name ++ "."
  else {
    stations_count: sizeOf(payload."1".payload),
	stations_list: payload."1".payload
  },
  launches: if (sizeOf(payload."0".payload) == 0) 
    "There are no records of space launches made by the " ++ vars.name ++ " on this page."
  else {
    launches_count: sizeOf(payload."0".payload),
    launches_list: payload."0".payload
  },
  rockets: if (sizeOf(payload."2".payload) == 0) 
    "There are no records on this page about rockets manufactured by the " ++ vars.name ++ "."
  else {
    rockets_count: sizeOf(payload."2".payload),
	rockets_list: payload."2".payload
  }
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Agency info modes"
			doc:id="785c1af3-b842-48e0-883c-0236e4033030">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="normal_mode"><![CDATA[%dw 2.0
output application/json
---
payload map ( generalInfo , index ) -> {
	agency: generalInfo.agency,
	stations: if (generalInfo.stations is String)
      generalInfo.stations
    else {
		stations_count: generalInfo.stations.stations_count,
		stations_list: generalInfo.stations.stations_list map ( stationslist , indexOfStationslist ) -> {
			name: stationslist.name,
			status_name: stationslist.status_name,
			founded: stationslist.founded,
			deorbited: stationslist.deorbited,
			description: stationslist.description,
			orbit: stationslist.orbit,
			owners: stationslist.owners map ( owner , indexOfOwner ) -> owner,
			image_url: stationslist.image_url
		}
	},
	launches: if (generalInfo.launches is String)
      generalInfo.launches
    else {
		launches_count: generalInfo.launches.launches_count,
		launches_list: generalInfo.launches.launches_list map ( launcheslist , indexOfLauncheslist ) -> {
			name: launcheslist.name,
			status: launcheslist.status,
			launch_year: launcheslist.launch_year,
			rocket_name: launcheslist.rocket.name,
			mission: {
				name: launcheslist.mission.name,
				description: launcheslist.mission.description,
				planet_of_interest: if (launcheslist.mission.planet_of_interest == "")
				        ""
				    else {
					name: launcheslist.mission.planet_of_interest.name,
					moons: launcheslist.mission.planet_of_interest.moons map ( moon , indexOfMoon ) -> moon,
					semimajorAxis: launcheslist.mission.planet_of_interest.semimajorAxis,
					perihelion: launcheslist.mission.planet_of_interest.perihelion,
					aphelion: launcheslist.mission.planet_of_interest.aphelion,
					mass: launcheslist.mission.planet_of_interest.mass,
					gravity: launcheslist.mission.planet_of_interest.gravity,
					meanRadius: launcheslist.mission.planet_of_interest.meanRadius,
					discoveredBy: launcheslist.mission.planet_of_interest.discoveredBy,
					discoveryDate: launcheslist.mission.planet_of_interest.discoveryDate,
					axialTilt: launcheslist.mission.planet_of_interest.axialTilt,
					avgTemp: launcheslist.mission.planet_of_interest.avgTemp
				}
			},
			pad: {
				name: launcheslist.pad.name,
				location: launcheslist.pad.location.name
			}
		}
	},
	rockets: if (generalInfo.rockets is String)
      generalInfo.rockets
    else {
		rockets_count: generalInfo.rockets.rockets_count,
		rockets_list: generalInfo.rockets.rockets_list map ( rocketslist , indexOfRocketslist ) -> {
			name: rocketslist.name,
			program: rocketslist.program.name,
			family: rocketslist.family,
			reusable: rocketslist.reusable,
			image_url: rocketslist.image_url,
			wiki_url: rocketslist.wiki_url
		}
	}
}]]></ee:set-variable>
				<ee:set-variable variableName="list_mode"><![CDATA[output application/json
---
payload map ( generalInfo , index ) -> {
	agency: generalInfo.agency,
	stations: if (generalInfo.stations is String)
	  generalInfo.stations
	else {
		stations_count: generalInfo.stations.stations_count,
		stations_list: generalInfo.stations.stations_list.name
	},
	launches: if (generalInfo.launches is String)
	  generalInfo.launches
	else {
		launches_count: generalInfo.launches.launches_count,
		launches_list: generalInfo.launches.launches_list.name
	},
	rockets: if (generalInfo.rockets is String)
	  generalInfo.rockets
	else {
		rockets_count: generalInfo.rockets.rockets_count,
		rockets_list: generalInfo.rockets.rockets_list.name
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Mode choice"
			doc:id="8ce6474a-003f-4d97-a67d-204ab837ef55">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (vars.mode == "normal")
    vars.normal_mode
else if (vars.mode == "list")
    vars.list_mode
else
    payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="launchesAndStationsByAgencyAndYear"
		doc:id="c373dc04-0fb0-499a-bbff-bc6ebea1763f">
		<flow-ref doc:name="start_log and variables"
			doc:id="3450ab5a-6b4c-4846-8759-68318ef4b74f"
			name="start_log_and_variables" />
		<set-variable
			value="#[message.attributes.queryParams.year]" doc:name="Set year"
			doc:id="0677cae9-079f-4b4c-9b2d-8384a25d0a70" variableName="year" />
		<validation:matches-regex
			doc:name="Check for year validity"
			doc:id="3d594f44-10de-4bfc-b16f-892e1e2e4ae9"
			config-ref="Validation_Config" value="#[vars.year]"
			regex="${validation.year.regex}" message="${validation.year.message}">
			<error-mapping sourceType="VALIDATION:MISMATCH"
				targetType="APP:INVALID_YEAR" />
		</validation:matches-regex>
		<scatter-gather doc:name="Scatter-Gather"
			doc:id="867d81b6-5b92-42de-8527-6b41a1e83696">
			<route>
				<flow-ref doc:name="getLaunchesAndPlanets"
					doc:id="0e30aa53-85f6-49ee-b65f-b2ec61ed2724"
					name="getLaunchesAndPlanets" />
				<ee:transform doc:name="Filtering by year"
					doc:id="e0232cbd-dc63-450e-8d60-84bd99084a9c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter ((item, index) -> item.launch_year == vars.year)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route>
				<http:request method="GET" doc:name="getStations"
					doc:id="b69b611f-abf3-4c8b-8ed3-7c89086e369c"
					config-ref="HTTP_Request_configuration_Stations" path="station"
					responseTimeout="60000" />
				<ee:transform
					doc:name="Filtering by agency name and activity years"
					doc:id="4d908a1c-37fb-480d-865e-51029f405076">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter ((item, index) -> (item.owners contains(vars.name)) and 
	(item.founded[0 to 3] as Number <= vars.year as Number) and 
	((item.deorbited == null) or (item.deorbited[0 to 3] as Number > vars.year as Number))) 
	map ( payload01 , indexOfPayload01 ) -> {
      name: payload01.name,
      status: payload01.status_name,
      "type": payload01."type",
      founded: payload01.founded,
      deorbited: payload01.deorbited as String default "",
      description: payload01.description,
      orbit: payload01.orbit,
      owners: payload01.owners map ( owner , indexOfOwner ) -> owner,
      image_url: payload01.image_url
    }]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route>
				<http:request method="GET" doc:name="Request"
					doc:id="15455fb9-0856-4616-974d-81ff09417134"
					config-ref="HTTP_Request_configuration_Planets"
					path='#["discovery?year=" ++ vars.year]' />
			</route>
		</scatter-gather>
		<choice doc:name="Choice"
			doc:id="12e6ee87-6211-4ad2-8e61-d53e13e475cc">
			<when
				expression='#[payload."0".payload == [] and payload."1".payload == []]'>
				<raise-error doc:name="ALL_EMPTY error"
					doc:id="decc200a-a371-43a9-bb1c-782c5a953a95" type="APP:ALL_EMPTY"
					description="${error_messaging.all_empty_info}" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Default block logger"
					doc:id="cfb2493b-2246-4ac2-85c8-75a112d007c4"
					message='#["Default block execution. Payload is not empty."]' />
			</otherwise>
		</choice>
		<ee:transform doc:name="Final representation"
			doc:id="833a30cf-2319-42ee-8f20-5d7c0b1265a2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
  agency: vars.name,
  launches: if (sizeOf(payload."0".payload) == 0) 
    "In specified year, the " ++ vars.name ++ " did not carry out space launches."
  else {
    launches_count: sizeOf(payload."0".payload),
    launches_list: payload."0".payload
  },
  stations: if (sizeOf(payload."1".payload) == 0)
    "In specified year, the " ++ vars.name ++ " did not have active space stations."
  else {
    stations_count: sizeOf(payload."1".payload),
    stations_list: payload."1".payload
  },
  discovered_objects: if (sizeOf(payload."2".payload) == 0)
    "No new solar system objects were discovered in specified year."
  else {
    objects_count: sizeOf(payload."2".payload),
    objects_list: payload."2".payload
  }
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="databaseFilling" doc:id="cfa6f628-dfdd-46d4-a793-a3dda03f9c24">
		<flow-ref doc:name="start_log and variables" doc:id="1e68e8de-fee0-4b50-ab5b-6cbf62bfe05c" name="start_log_and_variables" />
		<validation:matches-regex doc:name="Check for offset validity" doc:id="7e3232df-aab0-4373-bf1e-259b5af4c3ec" regex="${validation.offset.regex}" config-ref="Validation_Config" value="#[vars.offset]" message="${validation.offset.message}">
			<error-mapping targetType="APP:WRONG_OFFSET" />
		</validation:matches-regex>
		<flow-ref doc:name="primaryDataRetrieving" doc:id="409d53b6-84a5-45df-bd7c-0b51d7129fcb" name="primaryDataRetrieving" />
		<choice doc:name="Choice" doc:id="c3ce8653-07ba-4d41-866a-878cd8b2a0f6">
			<when expression="#[vars.offset &gt; Mule::p('offset_limitations.stations') and vars.offset &lt; Mule::p('offset_limitations.rockets')]">
				<ee:transform doc:name="Formatting data to add to the database" doc:id="af4fedfb-bcf3-43c6-bb09-7c4799983fc5">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[ if (sizeOf(payload."0".payload) == 0) {
    agency: vars.name,
    rockets: {
      rockets_count: sizeOf(payload."2".payload),
	  rockets_list: payload."2".payload
	}
  } else if (sizeOf(payload."2".payload) == 0) {
    agency: vars.name,
    launches: {
      launches_count: sizeOf(payload."0".payload),
	  launches_list: payload."0".payload
	}
  } else {
    agency: vars.name,
    launches: {
      launches_count: sizeOf(payload."0".payload),
	  launches_list: payload."0".payload
	},
    rockets: {
      rockets_count: sizeOf(payload."2".payload),
	  rockets_list: payload."2".payload
	}
  }
]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.offset &gt;= Mule::p('offset_limitations.rockets')]">
				<choice doc:name="Choice" doc:id="a31f8a2f-9a02-4fb5-9dde-5cb88b328a13">
					<when expression='#[sizeOf(payload."0".payload) == 0]'>
						<raise-error doc:name="Raise error" doc:id="aa7893ac-d392-4ab7-b14a-b7ba544d0d74" type="APP:ALL_EMPTY" description="No data to add to database." />
					</when>
					<otherwise>
						<ee:transform doc:name="Formatting data to add to the database" doc:id="8bfce8ea-2c5f-4252-80b3-54499a7229e5">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
  agency: vars.name,
  launches: {
    launches_count: sizeOf(payload."0".payload),
	launches_list: payload."0".payload
  }
}]]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<ee:transform doc:name="Formatting data to add to the database" doc:id="6434c1b9-5aef-4731-80a0-e2c286f61a99">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[ if (sizeOf(payload."1".payload) == 0 and sizeOf(payload."0".payload) == 0) {
    agency: vars.name,
    rockets: {
      rockets_count: sizeOf(payload."2".payload),
	  rockets_list: payload."2".payload
	}
  } else if (sizeOf(payload."1".payload) == 0 and sizeOf(payload."2".payload) == 0) {
    agency: vars.name,
    launches: {
      launches_count: sizeOf(payload."0".payload),
	  launches_list: payload."0".payload
	}
  } else if (sizeOf(payload."0".payload) == 0 and sizeOf(payload."2".payload) == 0) {
    agency: vars.name,
    stations: {
      stations_count: sizeOf(payload."1".payload),
	  stations_list: payload."1".payload
	}
  } else if (sizeOf(payload."1".payload) == 0) {
    agency: vars.name,
    launches: {
      launches_count: sizeOf(payload."0".payload),
	  launches_list: payload."0".payload
	},
    rockets: {
      rockets_count: sizeOf(payload."2".payload),
	  rockets_list: payload."2".payload
	}
  } else if (sizeOf(payload."0".payload) == 0) {
    agency: vars.name,
    stations: {
      stations_count: sizeOf(payload."1".payload),
	  stations_list: payload."1".payload
	},
    rockets: {
      rockets_count: sizeOf(payload."2".payload),
	  rockets_list: payload."2".payload
	}
  } else if (sizeOf(payload."2".payload) == 0) {
    agency: vars.name,
    stations: {
      stations_count: sizeOf(payload."1".payload),
	  stations_list: payload."1".payload
	},
    launches: {
      launches_count: sizeOf(payload."0".payload),
	  launches_list: payload."0".payload
	}
  } else {
    agency: vars.name,
    stations: {
      stations_count: sizeOf(payload."1".payload),
	  stations_list: payload."1".payload
	},
    launches: {
      launches_count: sizeOf(payload."0".payload),
	  launches_list: payload."0".payload
	},
    rockets: {
      rockets_count: sizeOf(payload."2".payload),
	  rockets_list: payload."2".payload
	}
  }
]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="93c71be3-314b-4834-9e06-8728c63eb8fd" message="прпрпррп"/>
		<set-variable value='#[Mule::p("records.write_folder") ++ vars.name as String ++ "-" ++&#10;&#10;now() as String {format: "yyyy-MM-dd"} ++ "-" ++&#10;&#10;now() as String {format: "hh-m-s"} ++ ".json"]' doc:name="Set file_name" doc:id="2073bf49-733f-42c4-9494-65ef1a76e1f0" variableName="file_name" />
        <file:write doc:name="Write payload to file" doc:id="a128965e-96f5-4521-89a3-0747a6cff68b" config-ref="File_Config" path="#[vars.file_name]" mode="CREATE_NEW">
        </file:write>
	</sub-flow>
	<flow name="setToDB"
		doc:id="70da48b3-e427-4803-b3cc-3f944a57ce52">
		<file:listener doc:name="On New or Updated File" doc:id="7e1b40c0-da6a-42e9-86c0-beed22928ebc" config-ref="File_Config" directory="${records.write_folder}" autoDelete="true">
      <scheduling-strategy>
        <fixed-frequency frequency="5" timeUnit="SECONDS" />
      </scheduling-strategy>
      <file:matcher filenamePattern="*.json" />
    </file:listener>
		<choice doc:name="Choice"
			doc:id="44bc4f26-048a-4580-bb12-ad8e8e40385f">
			<when
				expression="#[java!org::spaceagencies::utils::FileOperations::isFileExists(Mule::p('records.dir') as String, Mule::p('records.file') as String) == false]">
				<ee:transform doc:name="Transform Message"
					doc:id="cb9c8b69-d48e-492c-afb5-642e017ff333">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="record"><![CDATA[%dw 2.0
output application/json
---
if (payload.stations == null and payload.launches == null)
  payload map (record, index) -> {
    r_id: 0,
    agency: record.agency,
    rockets: record.rockets
  } else if (payload.stations == null and payload.rockets == null)
  payload map (record, index) -> {
    r_id: 0,
    agency: record.agency,
    launches: record.launches
  } else if (payload.launches == null and payload.rockets == null)
  payload map (record, index) -> {
    r_id: 0,
    agency: record.agency,
    stations: record.stations
  } else if (payload.stations == null) 
  payload map (record, index) -> {
    r_id: 0,
    agency: record.agency,
    launches: record.launches,
    rockets: record.rockets
  } else if (payload.launches == null)
  payload map (record, index) -> {
    r_id: 0,
    agency: record.agency,
    stations: record.stations,
    rockets: record.rockets
  } else if (payload.rockets == null)
  payload map (record, index) -> {
    r_id: 0,
    agency: record.agency,
    stations: record.stations,
    launches: record.launches
  } else
  payload map (record, index) -> {
    r_id: 0,
    agency: record.agency,
    stations: record.stations,
    launches: record.launches,
    rockets: record.rockets
  }]]></ee:set-variable>

					</ee:variables>
				</ee:transform>
				<file:write doc:name="Write"
					doc:id="6fb825f7-bf0d-4f5b-995c-c9cfe52ae1f2"
					config-ref="File_Config"
					path='#[Mule::p("records.id_folder") as String ++ Mule::p("records.file") as String]'
					mode="CREATE_NEW">
					<file:content><![CDATA[#[vars.record[0].r_id as Number + 1]]]></file:content>
				</file:write>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message"
					doc:id="e36cfb27-1ba0-4291-9424-98c489694e16">
					<ee:message />
					<ee:variables>
						<ee:set-variable variableName="record"><![CDATA[%dw 2.0
output application/json
var r_id = java!org::spaceagencies::utils::FileOperations::fileReader(Mule::p("records.id_folder") as String ++ Mule::p("records.file") as String as String)
---
if (payload.stations == null and payload.launches == null)
  payload map (record, index) -> {
    r_id: r_id,
    agency: record.agency,
    rockets: record.rockets
  } else if (payload.stations == null and payload.rockets == null)
  payload map (record, index) -> {
    r_id: r_id,
    agency: record.agency,
    launches: record.launches
  } else if (payload.launches == null and payload.rockets == null)
  payload map (record, index) -> {
    r_id: r_id,
    agency: record.agency,
    stations: record.stations
  } else if (payload.stations == null) 
  payload map (record, index) -> {
    r_id: r_id,
    agency: record.agency,
    launches: record.launches,
    rockets: record.rockets
  } else if (payload.launches == null)
  payload map (record, index) -> {
    r_id: r_id,
    agency: record.agency,
    stations: record.stations,
    rockets: record.rockets
  } else if (payload.rockets == null)
  payload map (record, index) -> {
    r_id: r_id,
    agency: record.agency,
    stations: record.stations,
    launches: record.launches
  } else
  payload map (record, index) -> {
    r_id: r_id,
    agency: record.agency,
    stations: record.stations,
    launches: record.launches,
    rockets: record.rockets
  }]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<file:write doc:name="Write"
					doc:id="c9910d14-1a32-4b09-b6fe-2cf193633436"
					config-ref="File_Config"
					path='#[Mule::p("records.id_folder") as String ++ Mule::p("records.file") as String]'>
					<file:content><![CDATA[#[vars.record[0].r_id as Number + 1]]]></file:content>
				</file:write>
			</otherwise>
		</choice>
		<mongo:collection-exists
			collectionName="#[vars.record[0].agency]"
			doc:name="Collection exists"
			doc:id="e0dfe491-a6d4-4828-87f1-4a449f7b3f5d"
			config-ref="MongoDB_Config" />
		<choice doc:name="Choice"
			doc:id="5aefa436-1fdf-433b-88f5-dcd9d661a266">
			<when expression="#[payload == false]">
				<mongo:create-collection
					doc:name="Create collection"
					doc:id="f45e10c0-8bf8-4100-a52f-a276cf173e9d"
					config-ref="MongoDB_Config"
					collectionName="#[vars.record[0].agency]" />
			</when>
		</choice>
		<mongo:insert-documents
			collectionName="#[vars.record[0].agency]" doc:name="Insert documents"
			doc:id="c3ef6e15-bdef-45a6-be62-0a96cbca75dc"
			config-ref="MongoDB_Config">
			<mongo:documents><![CDATA[#[vars.record]]]></mongo:documents>
		</mongo:insert-documents>
	</flow>
</mule>
