src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="agencies-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="agencies-api-config"/>
		<error-handler ref="api-main-error-handler" />
    </flow>
    <flow name="agencies-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="agencies-api-config"/>
		<error-handler ref="api-console-error-handler" />
    </flow>
    <flow name="get:\agencies:agencies-api-config">
		<flow-ref doc:name="agencyWithStationAndLaunches" doc:id="af5ef739-acd5-4d7c-a337-953fb1e99ebd" name="agencyWithStationAndLaunches"/>
    </flow>
    <flow name="get:\database:agencies-api-config">
		<flow-ref doc:name="databaseFilling" doc:id="59a78358-96ed-4669-8c42-c1d982460949" name="databaseFilling"/>
    </flow>
    <flow name="get:\help:agencies-api-config">
		<flow-ref doc:name="helpFlow" doc:id="64b559c9-e067-4f87-98e4-1eb50c96fe5e" name="helpFlow"/>
    </flow>
    <flow name="get:\infoByAgencyAndYear:agencies-api-config">
		<flow-ref doc:name="launchesAndStationsByAgencyAndYear" doc:id="d48ce3a9-4019-4069-a8c9-13f0b55eca75" name="launchesAndStationsByAgencyAndYear"/>
    </flow>
</mule>
